
<h2>{{ title }}</h2>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Room CheckInTime</th>
            <th>Room CheckOutTime</th>
            <th>Room Rating</th>
            <th>Action</th>
        </tr>    
    </thead>
    <tbody>
        <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of rooms | slice: 0:10; let e = even; let o = odd; let i = index">
            <td>{{ i + 1 }}</td> 
            <td>{{ e ? "Even" : "Odd" | lowercase }} </td>
            <td>{{ room.number | percent }}</td>
            <td>{{ room.type | uppercase }}</td>
            <td>{{ room.price | currency: 'USD' }}</td>
            <td>{{ room.amenities | titlecase }}</td>
            <td>{{ room.checkinTime | date : 'MM/dd/yyyy'}}</td>
            <td>{{ room.checkoutTime | date }}</td>
            <td>{{ room.rating | number : '1.0-2'}}</td>
            <td> <button class="btn btn-primary" (click)="SelectRoom(room)">Select Room</button></td>
        </tr>
    </tbody>
</table>