

<div [ngStyle]="{'color': role == 'SuperAdmin' ? 'green': 'red'}">
    Hello Super Admin!
</div>
<div [ngStyle]="{'color': role != 'SuperAdmim' ? 'red' : 'green'}">
    Hello User!
</div>
<p>{{ hotelDescription }}</p>
<div [hidden]="hideRooms">For now, we only have <span [innerText]="numberOfRooms"></span> Rooms but don't worry we will
    be expanding 30% of our current infrastructure in the upcoming year.</div>
<button class="btn btn-primary" (click)="ToggleRoomsInfo()"> Toggle Rooms Information</button>

<div class="c_red" *ngIf="roomsInformation.totalRooms == roomsInformation.bookedRooms">
    We're currently basking in the joy of a fully booked hotel! Thank you for choosing us and making our rooms your
    preferred choice. If you weren't able to secure a reservation this time, don't worry – there's always a next time!
    We understand that plans can change, and we'll be eagerly awaiting the opportunity to host you in the future. Our
    team is here to assist you in planning your next memorable stay with us. Keep an eye out for our special offers and
    promotions, as we'd love to make your next visit even more delightful. Until then, safe travels and we look forward
    to welcoming you when the time is right!
</div>


<!-- <p>{{ roomsList | json }}</p> -->
<div *ngIf="selectedRoom">Below is the selected room information
    <p>{{ selectedRoom | json }}</p>
</div>
<div>Below is the room information</div>
<button class="btn btn-primary" (click)="AddNewRoom()">Add New Room</button>
<div [ngSwitch]="role">
    <div *ngSwitchCase="'SuperAdmin'">
        <hinv-room-list [rooms]="roomsList" (selectedRoom)="RoomSelection($event)"></hinv-room-list>
    </div>
    <div *ngSwitchDefault>
        <p>You are not authorized to view the rooms information</p>
    </div>


</div>

